@media screen and (max-width: 1000px) {
    body {
        background-color: #ebbecf69;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        margin: 12px 0;
    }

    nav ul {
        justify-content: center;
        height: 34px;
    }

    .search {
        justify-content: center;

    }

    .search input {
        margin: 12px 16px;
    }

    .slider img {
        height: 23vh;
        width: 75vw;
        display: flex;
        align-items: center;
    }

    .card-item {
        width: 31vw;
        margin: 0px 29px;
    }

}

/* @media screen and (max-width: 986px) {

    .lines{
        display: inline;
        width: 160px;
    }

    .slider img{
        height: 50vh;
        width: 75vw;
    }

    .card{
        display: contents;
    }

    .card-item {
        width: 15vw;
        margin: 0px 19px;
    }
} */

@media screen and (max-width: 540px) {

    .card{
        display: contents;
    }

    .card-item {
        width: 31vw;
        margin: 0px 48px;
    }
}

@media screen and (max-width: 436px) {

    .slider img{
        height: 36vh;
    }

    .card h2{
        padding: 0 84px;
    }

    .card{
        display: contents;
    }

    .card-item {
        width: 31vw;
        margin: 0px 135px;
    }
}